.header {
  text-align: center;
  margin: 20px 20px;
  font: 24px Arial, sans-serif;
  font-weight: bold;
}

.github-profile {
  margin: 1rem;
  display: flex;
}

.info {
  margin: 0px 15px;
}

.name {
  font-weight: bold;
}

.company {

}